<% if @user.errors.full_messages.any? %>
  <div class="ui message">
    <i class="close icon"></i>
    <% @user.errors.full_messages.each do |err|%>
      <p style="color:red"><%= err %></p>
    <%end%>
  </div>
<%end%>
<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
        <%= form_with model: @user ,local: true do |f|%>
          <div class="field">
            <%= f.label :username %>
            <div class="ui left icon input">
              <i class="user icon"></i>
              <%= f.text_field :username ,placeholder: "enter user name"%>
            </div>
          </div>
          <div class="field">
            <%= f.label :password %>
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <%= f.text_field :password ,placeholder: "enter password",type:"password"%>
            </div>
          </div>
          <%= f.submit("Sign Up" ,class:"ui blue submit button")%>
        <%end%>
      </div>
    </div>
    <div class="middle aligned column">
      <%= link_to 'Login  ', login_path ,class:"ui big button"%>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
