<div class="ui inverted small menu">
  <div class="ui container">
    <a class="active item" href="/">
      Chat Room
    </a>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        <% if logged_in? %>
          <div id='current-user'><%= current_user.username.capitalize %></div>
        <% else %>
          Account
        <% end %>
        <i class="dropdown icon"></i>
        <div class="menu">
          <% if logged_in? %>
            <%= link_to 'Log Out', logout_path,method: :delete ,class:"item" %>
          <% else %>
            <%= link_to 'Login', login_path ,class:"item" %>
          <%end%>
          <%= link_to 'SignUp', new_user_path ,class:"item" %>
        </div>
      </div>
      <% if logged_in? %>
        <div class="item">
          <%= button_to 'SignOut', logout_path, method: :delete ,class:"ui green button" %>
        </div>
      <% else %>
        <div id='current-user'> <%= link_to 'SignUp', new_user_path ,class:"item" %></div>
      <% end %>
    </div>
  </div>
</div>
